StudyingController/StudyingController/Service References/SCS/ControllerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ControllerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5996/ControllerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5996/ControllerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IControllerService_IsValidLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidLogin" />
  </wsdl:message>
  <wsdl:message name="IControllerService_IsValidLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IControllerService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IControllerService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IControllerService">
    <wsdl:operation name="IsValidLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerService/IsValidLogin" message="tns:IControllerService_IsValidLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerService/IsValidLoginResponse" message="tns:IControllerService_IsValidLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerService/AddUser" message="tns:IControllerService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerService/AddUserResponse" message="tns:IControllerService_AddUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IControllerService" type="tns:IControllerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsValidLogin">
      <soap:operation soapAction="http://tempuri.org/IControllerService/IsValidLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IControllerService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControllerService">
    <wsdl:port name="BasicHttpBinding_IControllerService" binding="tns:BasicHttpBinding_IControllerService">
      <soap:address location="http://localhost:5996/ControllerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>