StudyingController/StudyingController/Service References/SCS/ControllerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudyingControllerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudyingControllerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionID" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="ControllerServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControllerServiceException" nillable="true" type="tns:ControllerServiceException" />
</xs:schema>