StudyingController/StudyingController/Service References/SCS/ControllerService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntitiesDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntitiesDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4225/ControllerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="StudyRangeDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Year" type="xs:int" />
          <xs:element minOccurs="0" name="YearPart" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StudyRangeDTO" nillable="true" type="tns:StudyRangeDTO" />
  <xs:complexType name="BaseEntityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntityDTO" nillable="true" type="tns:BaseEntityDTO" />
  <xs:complexType name="GroupDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NamedEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cathedra" nillable="true" type="tns:CathedraDTO" />
          <xs:element minOccurs="0" name="CathedraID" type="xs:int" />
          <xs:element minOccurs="0" name="Specialization" nillable="true" type="tns:SpecializationDTO" />
          <xs:element minOccurs="0" name="SpecializationID" type="xs:int" />
          <xs:element minOccurs="0" name="StudyRangeID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GroupDTO" nillable="true" type="tns:GroupDTO" />
  <xs:complexType name="NamedEntityDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NamedEntityDTO" nillable="true" type="tns:NamedEntityDTO" />
  <xs:complexType name="CathedraDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NamedEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Faculty" nillable="true" type="tns:FacultyDTO" />
          <xs:element minOccurs="0" name="FacultyID" type="xs:int" />
          <xs:element minOccurs="0" name="Subjects" nillable="true" type="tns:ArrayOfSubjectDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CathedraDTO" nillable="true" type="tns:CathedraDTO" />
  <xs:complexType name="FacultyDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NamedEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Institute" nillable="true" type="tns:InstituteDTO" />
          <xs:element minOccurs="0" name="InstituteID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Specializations" nillable="true" type="tns:ArrayOfSpecializationDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FacultyDTO" nillable="true" type="tns:FacultyDTO" />
  <xs:complexType name="InstituteDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NamedEntityDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InstituteDTO" nillable="true" type="tns:InstituteDTO" />
  <xs:complexType name="ArrayOfSpecializationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecializationDTO" nillable="true" type="tns:SpecializationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecializationDTO" nillable="true" type="tns:ArrayOfSpecializationDTO" />
  <xs:complexType name="SpecializationDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NamedEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="FacultyID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecializationDTO" nillable="true" type="tns:SpecializationDTO" />
  <xs:complexType name="ArrayOfSubjectDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubjectDTO" nillable="true" type="tns:SubjectDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubjectDTO" nillable="true" type="tns:ArrayOfSubjectDTO" />
  <xs:complexType name="SubjectDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NamedEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cathedra" nillable="true" type="tns:CathedraDTO" />
          <xs:element minOccurs="0" name="CathedraID" type="xs:int" />
          <xs:element minOccurs="0" name="Rate" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubjectDTO" nillable="true" type="tns:SubjectDTO" />
  <xs:complexType name="SystemUserDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" type="tns:UserRoles" />
          <xs:element minOccurs="0" name="UserInformation" nillable="true" type="tns:UserInformationDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SystemUserDTO" nillable="true" type="tns:SystemUserDTO" />
  <xs:simpleType name="UserRoles">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="MainAdmin">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="InstituteAdmin">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="FacultyAdmin">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="MainSecretary">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="InstituteSecretary">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="FacultySecretary">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Teacher">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Student">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="UserRoles" nillable="true" type="tns:UserRoles" />
  <xs:complexType name="UserInformationDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserInformationDTO" nillable="true" type="tns:UserInformationDTO" />
  <xs:complexType name="FacultySecretaryDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemUserDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Faculty" nillable="true" type="tns:FacultyDTO" />
          <xs:element minOccurs="0" name="FacultyID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FacultySecretaryDTO" nillable="true" type="tns:FacultySecretaryDTO" />
  <xs:complexType name="InstituteAdminDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemUserDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Institute" nillable="true" type="tns:InstituteDTO" />
          <xs:element minOccurs="0" name="InstituteID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InstituteAdminDTO" nillable="true" type="tns:InstituteAdminDTO" />
  <xs:complexType name="TeacherDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemUserDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cathedra" nillable="true" type="tns:CathedraDTO" />
          <xs:element minOccurs="0" name="CathedraID" type="xs:int" />
          <xs:element minOccurs="0" name="Lectures" nillable="true" type="tns:ArrayOfLectureDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeacherDTO" nillable="true" type="tns:TeacherDTO" />
  <xs:complexType name="ArrayOfLectureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LectureDTO" nillable="true" type="tns:LectureDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLectureDTO" nillable="true" type="tns:ArrayOfLectureDTO" />
  <xs:complexType name="LectureDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfGroupDTO" />
          <xs:element minOccurs="0" name="Subject" nillable="true" type="tns:SubjectDTO" />
          <xs:element minOccurs="0" name="Teacher" nillable="true" type="tns:TeacherDTO" />
          <xs:element minOccurs="0" name="TeacherID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LectureDTO" nillable="true" type="tns:LectureDTO" />
  <xs:complexType name="ArrayOfGroupDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupDTO" nillable="true" type="tns:GroupDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupDTO" nillable="true" type="tns:ArrayOfGroupDTO" />
  <xs:complexType name="StudentDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemUserDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Group" nillable="true" type="tns:GroupDTO" />
          <xs:element minOccurs="0" name="GroupID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StudentDTO" nillable="true" type="tns:StudentDTO" />
  <xs:complexType name="InstituteSecretaryDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemUserDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Institute" nillable="true" type="tns:InstituteDTO" />
          <xs:element minOccurs="0" name="InstituteID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InstituteSecretaryDTO" nillable="true" type="tns:InstituteSecretaryDTO" />
  <xs:complexType name="FacultyAdminDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemUserDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Faculty" nillable="true" type="tns:FacultyDTO" />
          <xs:element minOccurs="0" name="FacultyID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FacultyAdminDTO" nillable="true" type="tns:FacultyAdminDTO" />
  <xs:complexType name="ArrayOfInstituteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstituteDTO" nillable="true" type="tns:InstituteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstituteDTO" nillable="true" type="tns:ArrayOfInstituteDTO" />
  <xs:complexType name="ArrayOfFacultyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FacultyDTO" nillable="true" type="tns:FacultyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacultyDTO" nillable="true" type="tns:ArrayOfFacultyDTO" />
  <xs:complexType name="ArrayOfCathedraDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CathedraDTO" nillable="true" type="tns:CathedraDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCathedraDTO" nillable="true" type="tns:ArrayOfCathedraDTO" />
  <xs:complexType name="ArrayOfSystemUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemUserDTO" nillable="true" type="tns:SystemUserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemUserDTO" nillable="true" type="tns:ArrayOfSystemUserDTO" />
  <xs:complexType name="ArrayOfTeacherDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeacherDTO" nillable="true" type="tns:TeacherDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeacherDTO" nillable="true" type="tns:ArrayOfTeacherDTO" />
  <xs:complexType name="ArrayOfPracticeTeacherDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PracticeTeacherDTO" nillable="true" type="tns:PracticeTeacherDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPracticeTeacherDTO" nillable="true" type="tns:ArrayOfPracticeTeacherDTO" />
  <xs:complexType name="PracticeTeacherDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Practice" nillable="true" type="tns:PracticeDTO" />
          <xs:element minOccurs="0" name="PracticeID" type="xs:int" />
          <xs:element minOccurs="0" name="Students" nillable="true" type="tns:ArrayOfStudentDTO" />
          <xs:element minOccurs="0" name="TeacherID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PracticeTeacherDTO" nillable="true" type="tns:PracticeTeacherDTO" />
  <xs:complexType name="PracticeDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Subject" nillable="true" type="tns:SubjectDTO" />
          <xs:element minOccurs="0" name="SubjectID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PracticeDTO" nillable="true" type="tns:PracticeDTO" />
  <xs:complexType name="ArrayOfStudentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentDTO" nillable="true" type="tns:StudentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentDTO" nillable="true" type="tns:ArrayOfStudentDTO" />
  <xs:complexType name="ArrayOfLectureControlDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LectureControlDTO" nillable="true" type="tns:LectureControlDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLectureControlDTO" nillable="true" type="tns:ArrayOfLectureControlDTO" />
  <xs:complexType name="LectureControlDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ControlDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="LectureID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LectureControlDTO" nillable="true" type="tns:LectureControlDTO" />
  <xs:complexType name="ControlDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NamedEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaxMark" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ControlDTO" nillable="true" type="tns:ControlDTO" />
  <xs:complexType name="PracticeControlDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ControlDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="PracticeID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PracticeControlDTO" nillable="true" type="tns:PracticeControlDTO" />
  <xs:complexType name="ArrayOfPracticeControlDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PracticeControlDTO" nillable="true" type="tns:PracticeControlDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPracticeControlDTO" nillable="true" type="tns:ArrayOfPracticeControlDTO" />
  <xs:complexType name="ArrayOfControlMessageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlMessageDTO" nillable="true" type="tns:ControlMessageDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfControlMessageDTO" nillable="true" type="tns:ArrayOfControlMessageDTO" />
  <xs:complexType name="ControlMessageDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Control" nillable="true" type="tns:ControlDTO" />
          <xs:element minOccurs="0" name="ControlID" type="xs:int" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:SystemUserDTO" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ControlMessageDTO" nillable="true" type="tns:ControlMessageDTO" />
  <xs:complexType name="ArrayOfAttachmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentDTO" nillable="true" type="tns:AttachmentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachmentDTO" nillable="true" type="tns:ArrayOfAttachmentDTO" />
  <xs:complexType name="AttachmentDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NamedEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TeacherID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttachmentDTO" nillable="true" type="tns:AttachmentDTO" />
  <xs:complexType name="ArrayOfMarkDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkDTO" nillable="true" type="tns:MarkDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarkDTO" nillable="true" type="tns:ArrayOfMarkDTO" />
  <xs:complexType name="MarkDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MarkValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="Student" nillable="true" type="tns:StudentDTO" />
          <xs:element minOccurs="0" name="StudentID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MarkDTO" nillable="true" type="tns:MarkDTO" />
  <xs:complexType name="PracticeControlMarkDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MarkDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="PracticeControlID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PracticeControlMarkDTO" nillable="true" type="tns:PracticeControlMarkDTO" />
  <xs:complexType name="LectureControlMarkDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MarkDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="LectureControlID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LectureControlMarkDTO" nillable="true" type="tns:LectureControlMarkDTO" />
</xs:schema>