StudyingController/StudyingController/Service References/SCS/ControllerService46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4225/ControllerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudyingControllerService" />
  <xs:import schemaLocation="http://localhost:4225/ControllerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EntitiesDTO" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="LoginResult" nillable="true" type="q1:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q2:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetInstitutesResult" nillable="true" type="q3:ArrayOfInstituteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFaculties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q4:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFacultiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetAllFacultiesResult" nillable="true" type="q5:ArrayOfFacultyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaculties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q6:Session" />
        <xs:element minOccurs="0" name="instituteID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacultiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetFacultiesResult" nillable="true" type="q7:ArrayOfFacultyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCathedras">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q8:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCathedrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetAllCathedrasResult" nillable="true" type="q9:ArrayOfCathedraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCathedras">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q10:Session" />
        <xs:element minOccurs="0" name="facultyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCathedrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetCathedrasResult" nillable="true" type="q11:ArrayOfCathedraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q12:Session" />
        <xs:element minOccurs="0" name="cathedraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetGroupsResult" nillable="true" type="q13:ArrayOfGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q14:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetAllGroupsResult" nillable="true" type="q15:ArrayOfGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInstitute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q16:Session" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="institute" nillable="true" type="q17:InstituteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInstituteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFaculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q18:Session" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="faculty" nillable="true" type="q19:FacultyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFacultyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCathedra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q20:Session" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="cathedra" nillable="true" type="q21:CathedraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCathedraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q22:Session" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="group" nillable="true" type="q23:GroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q24:Session" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="roles" type="q25:UserRoles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetUsersResult" nillable="true" type="q26:ArrayOfSystemUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q27:Session" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="user" nillable="true" type="q28:SystemUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecializations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q29:Session" />
        <xs:element minOccurs="0" name="facultyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecializationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetSpecializationsResult" nillable="true" type="q30:ArrayOfSpecializationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstitute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q31:Session" />
        <xs:element minOccurs="0" name="instituteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstituteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFaculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q32:Session" />
        <xs:element minOccurs="0" name="facultyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFacultyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCathedra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q33:Session" />
        <xs:element minOccurs="0" name="cathedraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCathedraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q34:Session" />
        <xs:element minOccurs="0" name="groupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q35:Session" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q36:Session" />
        <xs:element minOccurs="0" name="groupID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetGroupByIDResult" nillable="true" type="q37:GroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecializationByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q38:Session" />
        <xs:element minOccurs="0" name="specializationID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecializationByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetSpecializationByIDResult" nillable="true" type="q39:SpecializationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLectures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q40:Session" />
        <xs:element minOccurs="0" name="teacherID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetLecturesResult" nillable="true" type="q41:ArrayOfLectureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLectureGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q42:Session" />
        <xs:element minOccurs="0" name="lectureID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLectureGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetLectureGroupsResult" nillable="true" type="q43:ArrayOfGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q44:Session" />
        <xs:element minOccurs="0" name="cathedraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetTeachersResult" nillable="true" type="q45:ArrayOfTeacherDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q46:Session" />
        <xs:element minOccurs="0" name="cathedraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetSubjectsResult" nillable="true" type="q47:ArrayOfSubjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLecture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q48:Session" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="lecture" nillable="true" type="q49:LectureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLectureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTeacherSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q50:Session" />
        <xs:element minOccurs="0" name="teacherID" type="xs:int" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="subjects" nillable="true" type="q51:ArrayOfSubjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTeacherSubjectsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticesTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q52:Session" />
        <xs:element minOccurs="0" name="teacherID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticesTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetPracticesTeacherResult" nillable="true" type="q53:ArrayOfPracticeTeacherDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsPractice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q54:Session" />
        <xs:element minOccurs="0" name="practiceTeacherID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsPracticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetGroupsPracticeResult" nillable="true" type="q55:ArrayOfGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherPracticeSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q56:Session" />
        <xs:element minOccurs="0" name="teacherID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherPracticeSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetTeacherPracticeSubjectsResult" nillable="true" type="q57:ArrayOfSubjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q58:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetAllStudentsResult" nillable="true" type="q59:ArrayOfStudentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q60:Session" />
        <xs:element minOccurs="0" name="groupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetGroupStudentsResult" nillable="true" type="q61:ArrayOfStudentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCathedraStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q62:Session" />
        <xs:element minOccurs="0" name="cathedraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCathedraStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetCathedraStudentsResult" nillable="true" type="q63:ArrayOfStudentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacultyStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q64:Session" />
        <xs:element minOccurs="0" name="facultyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacultyStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetFacultyStudentsResult" nillable="true" type="q65:ArrayOfStudentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstituteStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q66:Session" />
        <xs:element minOccurs="0" name="instituteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstituteStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetInstituteStudentsResult" nillable="true" type="q67:ArrayOfStudentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePracticeTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q68:Session" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="practiceTeacher" nillable="true" type="q69:PracticeTeacherDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePracticeTeacherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacultyGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q70:Session" />
        <xs:element minOccurs="0" name="facultyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacultyGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetFacultyGroupsResult" nillable="true" type="q71:ArrayOfGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstituteGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q72:Session" />
        <xs:element minOccurs="0" name="instituteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstituteGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetInstituteGroupsResult" nillable="true" type="q73:ArrayOfGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePracticeTeacherSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q74:Session" />
        <xs:element minOccurs="0" name="teacherID" type="xs:int" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="subjects" nillable="true" type="q75:ArrayOfSubjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePracticeTeacherSubjectsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q76:Session" />
        <xs:element minOccurs="0" name="teacherID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetTeacherResult" nillable="true" type="q77:TeacherDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstituteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q78:Session" />
        <xs:element minOccurs="0" name="instituteID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstituteByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetInstituteByIDResult" nillable="true" type="q79:InstituteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacultyByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q80:Session" />
        <xs:element minOccurs="0" name="facultyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacultyByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetFacultyByIDResult" nillable="true" type="q81:FacultyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCathedraByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q82:Session" />
        <xs:element minOccurs="0" name="cathedraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCathedraByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetCathedraByIDResult" nillable="true" type="q83:CathedraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLectureControls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q84:Session" />
        <xs:element minOccurs="0" name="lectureID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLectureControlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetLectureControlsResult" nillable="true" type="q85:ArrayOfLectureControlDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLectureControls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q86:Session" />
        <xs:element minOccurs="0" name="lectureID" type="xs:int" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="controls" nillable="true" type="q87:ArrayOfLectureControlDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLectureControlsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeControls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q88:Session" />
        <xs:element minOccurs="0" name="practiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeControlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetPracticeControlsResult" nillable="true" type="q89:ArrayOfPracticeControlDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePracticeControls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q90:Session" />
        <xs:element minOccurs="0" name="practiceID" type="xs:int" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="controls" nillable="true" type="q91:ArrayOfPracticeControlDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePracticeControlsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q92:Session" />
        <xs:element minOccurs="0" name="controlID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetControlMessagesResult" nillable="true" type="q93:ArrayOfControlMessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveControlMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q94:Session" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="message" nillable="true" type="q95:ControlMessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveControlMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLectureControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q96:Session" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="control" nillable="true" type="q97:LectureControlDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLectureControlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentLectures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q98:Session" />
        <xs:element minOccurs="0" name="studentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentLecturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetStudentLecturesResult" nillable="true" type="q99:ArrayOfLectureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q100:Session" />
        <xs:element minOccurs="0" name="teacherID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetAttachmentsResult" nillable="true" type="q101:ArrayOfAttachmentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q102:Session" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="attachments" nillable="true" type="q103:ArrayOfAttachmentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttachmentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q104:Session" />
        <xs:element minOccurs="0" name="attachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLectureMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q105:Session" />
        <xs:element minOccurs="0" name="studentID" type="xs:int" />
        <xs:element minOccurs="0" name="controlID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLectureMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLectureMarkResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q106:Session" />
        <xs:element minOccurs="0" name="studentID" type="xs:int" />
        <xs:element minOccurs="0" name="controlID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPracticeMarkResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePracticeControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q107:Session" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="control" nillable="true" type="q108:PracticeControlDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePracticeControlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentPractices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q109:Session" />
        <xs:element minOccurs="0" name="studentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentPracticesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetStudentPracticesResult" nillable="true" type="q110:ArrayOfPracticeTeacherDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q111:Session" />
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="control" nillable="true" type="q112:ControlDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetMarksResult" nillable="true" type="q113:ArrayOfMarkDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q114:Session" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="control" nillable="true" type="q115:ControlDTO" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="marks" nillable="true" type="q116:ArrayOfMarkDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMarksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentRateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/StudyingControllerService" minOccurs="0" name="session" nillable="true" type="q117:Session" />
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="universityStructureItem" nillable="true" type="q118:BaseEntityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentRateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="GetStudentRateListResult" nillable="true" type="q119:ArrayOfUserRateItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>