StudyingController/StudyingController/Service References/SCS/ControllerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudyingControllerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudyingControllerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:38650/ControllerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EntitiesDTO" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionID" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="StudyRange" nillable="true" type="q1:StudyRangeDTO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntitiesDTO" minOccurs="0" name="User" nillable="true" type="q2:SystemUserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="ControllerServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControllerServiceException" nillable="true" type="tns:ControllerServiceException" />
</xs:schema>